.project
.settings/
algebricks/.project
algebricks/.settings/
algebricks/algebricks-common/.classpath
algebricks/algebricks-common/.project
algebricks/algebricks-common/.settings/
algebricks/algebricks-common/target/
algebricks/algebricks-compiler/.classpath
algebricks/algebricks-compiler/.project
algebricks/algebricks-compiler/.settings/
algebricks/algebricks-compiler/target/
algebricks/algebricks-core/.classpath
algebricks/algebricks-core/.project
algebricks/algebricks-core/.settings/
algebricks/algebricks-core/target/
algebricks/algebricks-data/.classpath
algebricks/algebricks-data/.project
algebricks/algebricks-data/.settings/
algebricks/algebricks-data/target/
algebricks/algebricks-examples/.project
algebricks/algebricks-examples/.settings/
algebricks/algebricks-examples/piglet-example/.classpath
algebricks/algebricks-examples/piglet-example/.project
algebricks/algebricks-examples/piglet-example/.settings/
algebricks/algebricks-examples/piglet-example/target/
algebricks/algebricks-rewriter/.classpath
algebricks/algebricks-rewriter/.project
algebricks/algebricks-rewriter/.settings/
algebricks/algebricks-rewriter/target/
algebricks/algebricks-runtime/.classpath
algebricks/algebricks-runtime/.project
algebricks/algebricks-runtime/.settings/
algebricks/algebricks-runtime/target/
algebricks/algebricks-tests/.classpath
algebricks/algebricks-tests/.project
algebricks/algebricks-tests/.settings/
algebricks/algebricks-tests/ClusterControllerService/
algebricks/algebricks-tests/target/
hivesterix/.project
hivesterix/.settings/
hivesterix/hivesterix-common/.classpath
hivesterix/hivesterix-common/.project
hivesterix/hivesterix-common/.settings/
hivesterix/hivesterix-common/target/
hivesterix/hivesterix-dist/.classpath
hivesterix/hivesterix-dist/.project
hivesterix/hivesterix-dist/.settings/
hivesterix/hivesterix-dist/ClusterControllerService/
hivesterix/hivesterix-dist/build/
hivesterix/hivesterix-dist/derby.log
hivesterix/hivesterix-dist/hadoop-conf-tmp/
hivesterix/hivesterix-dist/metastore_db/
hivesterix/hivesterix-dist/target/
hivesterix/hivesterix-optimizer/.classpath
hivesterix/hivesterix-optimizer/.project
hivesterix/hivesterix-optimizer/.settings/
hivesterix/hivesterix-optimizer/target/
hivesterix/hivesterix-runtime/.classpath
hivesterix/hivesterix-runtime/.project
hivesterix/hivesterix-runtime/.settings/
hivesterix/hivesterix-runtime/target/
hivesterix/hivesterix-serde/.classpath
hivesterix/hivesterix-serde/.project
hivesterix/hivesterix-serde/.settings/
hivesterix/hivesterix-serde/target/
hivesterix/hivesterix-translator/.classpath
hivesterix/hivesterix-translator/.project
hivesterix/hivesterix-translator/.settings/
hivesterix/hivesterix-translator/target/
hyracks/hyracks-api/.classpath
hyracks/hyracks-api/.project
hyracks/hyracks-api/.settings/
hyracks/hyracks-api/target/
hyracks/hyracks-client/.classpath
hyracks/hyracks-client/.project
hyracks/hyracks-client/.settings/
hyracks/hyracks-client/target/
hyracks/hyracks-comm/.classpath
hyracks/hyracks-comm/.project
hyracks/hyracks-comm/.settings/
hyracks/hyracks-comm/target/
hyracks/hyracks-control/.project
hyracks/hyracks-control/.settings/
hyracks/hyracks-control/hyracks-control-cc/.classpath
hyracks/hyracks-control/hyracks-control-cc/.project
hyracks/hyracks-control/hyracks-control-cc/.settings/
hyracks/hyracks-control/hyracks-control-cc/target/
hyracks/hyracks-control/hyracks-control-common/.classpath
hyracks/hyracks-control/hyracks-control-common/.project
hyracks/hyracks-control/hyracks-control-common/.settings/
hyracks/hyracks-control/hyracks-control-common/target/
hyracks/hyracks-control/hyracks-control-nc/.classpath
hyracks/hyracks-control/hyracks-control-nc/.project
hyracks/hyracks-control/hyracks-control-nc/.settings/
hyracks/hyracks-control/hyracks-control-nc/target/
hyracks/hyracks-data/.project
hyracks/hyracks-data/.settings/
hyracks/hyracks-data/hyracks-data-std/.classpath
hyracks/hyracks-data/hyracks-data-std/.project
hyracks/hyracks-data/hyracks-data-std/.settings/
hyracks/hyracks-data/hyracks-data-std/target/
hyracks/hyracks-dataflow-common/.classpath
hyracks/hyracks-dataflow-common/.project
hyracks/hyracks-dataflow-common/.settings/
hyracks/hyracks-dataflow-common/target/
hyracks/hyracks-dataflow-hadoop/.classpath
hyracks/hyracks-dataflow-hadoop/.project
hyracks/hyracks-dataflow-hadoop/.settings/
hyracks/hyracks-dataflow-hadoop/target/
hyracks/hyracks-dataflow-std/.classpath
hyracks/hyracks-dataflow-std/.project
hyracks/hyracks-dataflow-std/.settings/
hyracks/hyracks-dataflow-std/target/
hyracks/hyracks-dist/.classpath
hyracks/hyracks-dist/.project
hyracks/hyracks-dist/.settings/
hyracks/hyracks-dist/target/
hyracks/hyracks-documentation/.classpath
hyracks/hyracks-documentation/.project
hyracks/hyracks-documentation/.settings/
hyracks/hyracks-documentation/target/
hyracks/hyracks-examples/.project
hyracks/hyracks-examples/.settings/
hyracks/hyracks-examples/btree-example/.project
hyracks/hyracks-examples/btree-example/.settings/
hyracks/hyracks-examples/btree-example/btreeclient/.classpath
hyracks/hyracks-examples/btree-example/btreeclient/.project
hyracks/hyracks-examples/btree-example/btreeclient/.settings/
hyracks/hyracks-examples/btree-example/btreeclient/target/
hyracks/hyracks-examples/btree-example/btreehelper/.classpath
hyracks/hyracks-examples/btree-example/btreehelper/.project
hyracks/hyracks-examples/btree-example/btreehelper/.settings/
hyracks/hyracks-examples/btree-example/btreehelper/target/
hyracks/hyracks-examples/btree-example/btreeserver/.classpath
hyracks/hyracks-examples/btree-example/btreeserver/.project
hyracks/hyracks-examples/btree-example/btreeserver/.settings/
hyracks/hyracks-examples/btree-example/btreeserver/target/
hyracks/hyracks-examples/hadoop-compat-example/.project
hyracks/hyracks-examples/hadoop-compat-example/.settings/
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompatclient/.classpath
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompatclient/.project
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompatclient/.settings/
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompatclient/target/
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompathelper/.classpath
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompathelper/.project
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompathelper/.settings/
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompathelper/target/
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompatserver/.classpath
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompatserver/.project
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompatserver/.settings/
hyracks/hyracks-examples/hadoop-compat-example/hadoopcompatserver/target/
hyracks/hyracks-examples/hyracks-integration-tests/.classpath
hyracks/hyracks-examples/hyracks-integration-tests/.project
hyracks/hyracks-examples/hyracks-integration-tests/.settings/
hyracks/hyracks-examples/hyracks-integration-tests/target/
hyracks/hyracks-examples/text-example/.project
hyracks/hyracks-examples/text-example/.settings/
hyracks/hyracks-examples/text-example/textclient/.classpath
hyracks/hyracks-examples/text-example/textclient/.project
hyracks/hyracks-examples/text-example/textclient/.settings/
hyracks/hyracks-examples/text-example/textclient/target/
hyracks/hyracks-examples/text-example/texthelper/.classpath
hyracks/hyracks-examples/text-example/texthelper/.project
hyracks/hyracks-examples/text-example/texthelper/.settings/
hyracks/hyracks-examples/text-example/texthelper/target/
hyracks/hyracks-examples/text-example/textserver/.classpath
hyracks/hyracks-examples/text-example/textserver/.project
hyracks/hyracks-examples/text-example/textserver/.settings/
hyracks/hyracks-examples/text-example/textserver/target/
hyracks/hyracks-examples/tpch-example/.project
hyracks/hyracks-examples/tpch-example/.settings/
hyracks/hyracks-examples/tpch-example/tpchclient/.classpath
hyracks/hyracks-examples/tpch-example/tpchclient/.project
hyracks/hyracks-examples/tpch-example/tpchclient/.settings/
hyracks/hyracks-examples/tpch-example/tpchclient/target/
hyracks/hyracks-examples/tpch-example/tpchserver/.classpath
hyracks/hyracks-examples/tpch-example/tpchserver/.project
hyracks/hyracks-examples/tpch-example/tpchserver/.settings/
hyracks/hyracks-examples/tpch-example/tpchserver/target/
hyracks/hyracks-hadoop-compat/.classpath
hyracks/hyracks-hadoop-compat/.project
hyracks/hyracks-hadoop-compat/.settings/
hyracks/hyracks-hadoop-compat/target/
hyracks/hyracks-hdfs/.project
hyracks/hyracks-hdfs/.settings/
hyracks/hyracks-hdfs/hyracks-hdfs-0.20.2/.classpath
hyracks/hyracks-hdfs/hyracks-hdfs-0.20.2/.project
hyracks/hyracks-hdfs/hyracks-hdfs-0.20.2/.settings/
hyracks/hyracks-hdfs/hyracks-hdfs-0.20.2/target/
hyracks/hyracks-hdfs/hyracks-hdfs-0.23.1/.classpath
hyracks/hyracks-hdfs/hyracks-hdfs-0.23.1/.project
hyracks/hyracks-hdfs/hyracks-hdfs-0.23.1/.settings/
hyracks/hyracks-hdfs/hyracks-hdfs-0.23.1/target/
hyracks/hyracks-hdfs/hyracks-hdfs-core/.classpath
hyracks/hyracks-hdfs/hyracks-hdfs-core/.project
hyracks/hyracks-hdfs/hyracks-hdfs-core/.settings/
hyracks/hyracks-hdfs/hyracks-hdfs-core/ClusterControllerService/
hyracks/hyracks-hdfs/hyracks-hdfs-core/actual/
hyracks/hyracks-hdfs/hyracks-hdfs-core/build/
hyracks/hyracks-hdfs/hyracks-hdfs-core/target/
hyracks/hyracks-ipc/.classpath
hyracks/hyracks-ipc/.project
hyracks/hyracks-ipc/.settings/
hyracks/hyracks-ipc/target/
hyracks/hyracks-maven-plugins/.project
hyracks/hyracks-maven-plugins/.settings/
hyracks/hyracks-maven-plugins/hyracks-virtualcluster-maven-plugin/.classpath
hyracks/hyracks-maven-plugins/hyracks-virtualcluster-maven-plugin/.project
hyracks/hyracks-maven-plugins/hyracks-virtualcluster-maven-plugin/.settings/
hyracks/hyracks-maven-plugins/hyracks-virtualcluster-maven-plugin/target/
hyracks/hyracks-net/.classpath
hyracks/hyracks-net/.project
hyracks/hyracks-net/.settings/
hyracks/hyracks-net/target/
hyracks/hyracks-server/.classpath
hyracks/hyracks-server/.project
hyracks/hyracks-server/.settings/
hyracks/hyracks-server/target/
hyracks/hyracks-storage-am-bloomfilter/
hyracks/hyracks-storage-am-btree/.classpath
hyracks/hyracks-storage-am-btree/.project
hyracks/hyracks-storage-am-btree/.settings/
hyracks/hyracks-storage-am-btree/target/
hyracks/hyracks-storage-am-common/.classpath
hyracks/hyracks-storage-am-common/.project
hyracks/hyracks-storage-am-common/.settings/
hyracks/hyracks-storage-am-common/target/
hyracks/hyracks-storage-am-invertedindex/.classpath
hyracks/hyracks-storage-am-invertedindex/.project
hyracks/hyracks-storage-am-invertedindex/.settings/
hyracks/hyracks-storage-am-invertedindex/target/
hyracks/hyracks-storage-am-lsm-btree/
hyracks/hyracks-storage-am-lsm-common/
hyracks/hyracks-storage-am-lsm-invertedindex/
hyracks/hyracks-storage-am-lsm-rtree/
hyracks/hyracks-storage-am-rtree/.classpath
hyracks/hyracks-storage-am-rtree/.project
hyracks/hyracks-storage-am-rtree/.settings/
hyracks/hyracks-storage-am-rtree/target/
hyracks/hyracks-storage-common/.classpath
hyracks/hyracks-storage-common/.project
hyracks/hyracks-storage-common/.settings/
hyracks/hyracks-storage-common/target/
hyracks/hyracks-test-support/.classpath
hyracks/hyracks-test-support/.project
hyracks/hyracks-test-support/.settings/
hyracks/hyracks-test-support/target/
hyracks/hyracks-tests/.project
hyracks/hyracks-tests/.settings/
hyracks/hyracks-tests/hyracks-storage-am-bloomfilter-test/
hyracks/hyracks-tests/hyracks-storage-am-btree-test/.classpath
hyracks/hyracks-tests/hyracks-storage-am-btree-test/.project
hyracks/hyracks-tests/hyracks-storage-am-btree-test/.settings/
hyracks/hyracks-tests/hyracks-storage-am-btree-test/target/
hyracks/hyracks-tests/hyracks-storage-am-invertedindex-test/.classpath
hyracks/hyracks-tests/hyracks-storage-am-invertedindex-test/.project
hyracks/hyracks-tests/hyracks-storage-am-invertedindex-test/.settings/
hyracks/hyracks-tests/hyracks-storage-am-invertedindex-test/target/
hyracks/hyracks-tests/hyracks-storage-am-lsm-btree-test/
hyracks/hyracks-tests/hyracks-storage-am-lsm-common-test/
hyracks/hyracks-tests/hyracks-storage-am-lsm-invertedindex-test/
hyracks/hyracks-tests/hyracks-storage-am-lsm-rtree-test/
hyracks/hyracks-tests/hyracks-storage-am-rtree-test/.classpath
hyracks/hyracks-tests/hyracks-storage-am-rtree-test/.project
hyracks/hyracks-tests/hyracks-storage-am-rtree-test/.settings/
hyracks/hyracks-tests/hyracks-storage-am-rtree-test/target/
hyracks/hyracks-tests/hyracks-storage-common-test/.classpath
hyracks/hyracks-tests/hyracks-storage-common-test/.project
hyracks/hyracks-tests/hyracks-storage-common-test/.settings/
hyracks/hyracks-tests/hyracks-storage-common-test/target/
pregelix/.project
pregelix/.settings/
pregelix/pregelix-api/.classpath
pregelix/pregelix-api/.project
pregelix/pregelix-api/.settings/
pregelix/pregelix-api/target/
pregelix/pregelix-core/.classpath
pregelix/pregelix-core/.project
pregelix/pregelix-core/.settings/
pregelix/pregelix-core/ClusterControllerService/
pregelix/pregelix-core/actual/
pregelix/pregelix-core/expected/
pregelix/pregelix-core/target/
pregelix/pregelix-core/teststore/
pregelix/pregelix-dataflow-std-base/.classpath
pregelix/pregelix-dataflow-std-base/.project
pregelix/pregelix-dataflow-std-base/.settings/
pregelix/pregelix-dataflow-std-base/target/
pregelix/pregelix-dataflow-std/.classpath
pregelix/pregelix-dataflow-std/.project
pregelix/pregelix-dataflow-std/.settings/
pregelix/pregelix-dataflow-std/target/
pregelix/pregelix-dataflow/.classpath
pregelix/pregelix-dataflow/.project
pregelix/pregelix-dataflow/.settings/
pregelix/pregelix-dataflow/target/
pregelix/pregelix-dist/.classpath
pregelix/pregelix-dist/.project
pregelix/pregelix-dist/.settings/
pregelix/pregelix-dist/target/
pregelix/pregelix-example/.classpath
pregelix/pregelix-example/.project
pregelix/pregelix-example/.settings/
pregelix/pregelix-example/ClusterControllerService/
pregelix/pregelix-example/actual/
pregelix/pregelix-example/build/
pregelix/pregelix-example/edu.uci.ics.hyracks.control.nc.NodeControllerService/
pregelix/pregelix-example/exception
pregelix/pregelix-example/expected/
pregelix/pregelix-example/target/
pregelix/pregelix-example/teststore1/
pregelix/pregelix-example/teststore2/
pregelix/pregelix-runtime/.classpath
pregelix/pregelix-runtime/.project
pregelix/pregelix-runtime/.settings/
pregelix/pregelix-runtime/target/

