[project]
	description = Parallel genome assembly using Hyracks
[access "refs/*"]
	owner = group user/Jake Biesinger (jakebiesinger)
[access "refs/for/refs/*"]
	read = group user/Jake Biesinger (jakebiesinger)
	push = group user/Jake Biesinger (jakebiesinger)
	label-Code-Review = -2..+2 group user/Jake Biesinger (jakebiesinger)
	label-Verified = -1..+1 group user/Jake Biesinger (jakebiesinger)
	rebase = group user/Jake Biesinger (jakebiesinger)
	removeReviewer = group user/Jake Biesinger (jakebiesinger)
	submit = group user/Jake Biesinger (jakebiesinger)
[access "refs/heads/*"]
	read = group user/Jake Biesinger (jakebiesinger)
	create = group user/Jake Biesinger (jakebiesinger)
	push = +force group user/Jake Biesinger (jakebiesinger)
	pushMerge = group user/Jake Biesinger (jakebiesinger)
[access "refs/tags/*"]
	push = +force group user/Jake Biesinger (jakebiesinger)
	pushTag = group user/Jake Biesinger (jakebiesinger)
	pushSignedTag = group user/Jake Biesinger (jakebiesinger)
